{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-3">
            <div class="card">
                <div class="card-body"> 
                    <div class="content-section">
                        <form method="POST" novalidate action="{% url 'account_login' %}" >
                            {% csrf_token %}
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <fieldset class="form-group">
                                <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Logg in</h1>
                                {{ form|crispy }}
                              
                            </fieldset>
                            <div class="form-group">
                              
                                <button class="btn btn-outline-info" type="submit">Login</button>
                                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                                
                            </div>
                        </form>
                        <div class="border-top pt-2">
                            <medium class="text-muted">
                                Need An Account? <a class="ml-2" href="{{ signup_url }}">Sign Up</a>
                            </medium>
                        </div>
                    </div>
             </div>
        </div>    
        </div>
    </div>        
{% endblock %}

